<div class="page page-1" id="page-1">
  <div class="container">
    <div class="white-card"></div>
    <div class="page-content">
      <div class="row">
        <div class="col-md-5">
          <div class="main-image-container">
            <img
              class="main-image"
              src="profile-1.jpg?alt=media"
              alt="profile image"
            />
          </div>
        </div>
        <div class="col-md-7">
          <div class="main-profile-container">
            <div class="main-profile">
              <p class="header">Sitthinon Chanaritthichai</p>
              <p class="career-obj">
                Software Engineer, Web Developer, Programmer, or whatever title
                you can call, who loves to eat and has experience working with
                C#, .Net Framework, .Net Core, SQL, MongoDB, Firebase, HTML,
                CSS, JavaScript, jQuery, Vue.JS, and Angular.
              </p>
              <p>Nickname: Fight</p>
              <p>Date of Birth: July 11, 1997</p>
              <p>Nationality: Thai</p>
              <p>
                Email:
                <a href="mailto:sitthinon.c@hotmail.com"
                  >sitthinon.c@hotmail.com</a
                >
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="page page-2" id="page-2">
  <div class="container">
    <div class="page-card-2"></div>
    <div class="page-card-3"></div>
    <div class="page-content">
      <p class="title">Education</p>
      <p>August 2015 – May 2019</p>
      <p>Bachelor of Science in Computer Science (3.25),</p>
      <p>Kasetsart University Kamphaeng Saen Campus</p>
    </div>
    <div class="page-card">
      <div class="image-container">
        <img src="profile-2.jpg?alt=media" alt="education image" />
      </div>
    </div>
  </div>
</div>
